#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  color: rgb(182, 173, 187);
}
/*
backgroundColor: 'rgb(185, 157, 199)'
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body,
html {
  min-height: 100vh;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*
color
#3246A9
#3E51FA
#369AC4
#F46609
*/
